@model IEnumerable<ImfuyoRanch.Models.Equipment_Hire.Equipment>

@{
    ViewBag.Title = "IndexView";
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 320px !important;
        margin: auto;
        text-align: center;
        height: 500px !important;
        margin-bottom: 20px !important;
        border: groove !important;
    }

        .card:hover {
            border-radius: 10px;
            border-color: #000000 !important;
        }

    .h2-d {
        text-align: center
    }
    .btn-default{
        background-color:green !important;
        color:white !important;
    }
</style>
<h2 class="h2-d">Equipments</h2>


@foreach (var item in Model)
{
    <div class="col-md-6">
        <div class="card">
                <img class="card-img-top"  src="data:image/png;base64,@Convert.ToBase64String(item.Picture, 0, item.Picture.Length)" style="width: 300px; height: 300px" alt="" />
            <div class="card-body">
                <h4 class="card-title">
                    <strong>@Html.DisplayFor(modelItem => item.EquipmentName)</strong>
                </h4>
                <p>Equipment Type : @Html.DisplayFor(modelItem => item.EquipmentType.EquipementTypeName)</p>
                <p>Hire Price : @Html.DisplayFor(modelItem => item.HirePrice)</p>
                <p>Equipment Status : @Html.DisplayFor(modelItem => item.Status)</p>
                <p><a class="btn btn-default" onclick="location.href='@Url.Action("IndexView", "Equipments", new { id = item.EquipmentTypeId })'">Hire Equipment </a></p>
            </div>
        </div>
    </div>
}

