@model ImfuyoRanch.Models.SalesReport

@{
    ViewBag.Title = "Details";
}

<h2> Sales Report Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfOrders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfOrders)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalesReportId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
