@model IEnumerable<ImfuyoRanch.Models.ActivateManager>

@{
    ViewBag.Title = "Index";
}

<h2>Authorized Managers</h2>

<p>
    @Html.ActionLink("Authorize New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManagerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateActivated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtpCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateActivated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtpCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActiveId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActiveId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActiveId })
        </td>
    </tr>
}

</table>
